.img-thumbnail img {
    width: 100%;
}

.img-thumbnail {
    padding: 0;
}

.img-thumbnail .caption {
    padding: 9px;
}

.delete-item {
    display: inline;
}

.spacer {
    width: 100%;
    margin: 25px auto;
    color: #f8f9fa
}

.new-item-form {
    width: 100%;
    margin: 25px auto;
}

.new-item-form .form-inline .form-group input {
    margin: 7px auto;
    width: 100%;
}

.new-item-form div {
    width: 100%;
}

form textarea {
    width: 100%;
}

.page-header {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5;
}

.checkin-item {
    margin-bottom: 5px;
}

.note-container {
    overflow: auto;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.row div .btn {
    width: 100%;
}

.menu-item-container {
    margin-bottom: 5px;
    padding: 5px;
    border-width: 1px;
    border-color: grey;
    border-style: solid;
    background: #f8f9fa;
}

.rating {
    padding: 5px;
}

.rating:nth-child(odd) {
    background-color: #e9e9e9;
}