<% include ../partials/header %>

    <h1>This is the friend index page</h1>

    <ul>
    <% user.friends.forEach((friend) => { %>
        <li>
            <a href="/users/<%= user._id %>/friends/<%= friend._id %>">
                <%= friend.getDisplayName() %>
            </a>
        </li>
    <% }); %>
    </ul>

    <a href="/users/<%= user._id %>/friends/new" class="btn btn-lg btn-primary">Add Friend</a>

<% include ../partials/footer %>
