<% include ../partials/header %>

    <h1>Please provide the username or email of your friend</h1>

    <div class="new-item-form">
        <form action="/users/<%= user._id %>/friends" method="POST">
            <div class="row">
                <div class="col-lg-12">
                    <input class="form-control" type="text" name="friend[username]" placeholder="username">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <input class="form-control" type="text" name="friend[email]" placeholder="email">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <button class="btn btn-primary btn-block">Search</button>
                </div>
            </div>
        </form>
    </div>

<% include ../partials/footer %>
