<% include ./partials/header %>

    <h2>Facts about bald eagles:</h2> 

    <% facts.forEach((fact) => { %>
        <p class="fact">
            <%= fact.text[tellTheTruth] %>
            <div class="centered">
                <img src="/img/<%= fact.img %><%= (tellTheTruth ? "" : "_fake") %>.jpg" width="720" height="500" />
            </div>
        </p>
    <% }); %>

    <p>
        <% if (tellTheTruth) { %>
            <p>
                These facts came from the following sources:
                <ul>
                    <li>
                        <a href="https://www.youtube.com/watch?v=qveV7SG9LrM">9 Facts You Didn't Know About Bald Eagles</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=2SoTPB_ISvs">Facts About the Bald Eagle</a>
                    </li>
                    <li>
                        <a href="https://www.adfg.alaska.gov/index.cfm?adfg=wildlifenews.view_article&articles_id=343">Eagle Flight and Other Myths</a>
                    </li>
                    <li>
                        <a href="https://journeynorth.org/tm/eagle/annual/facts_nest.html">Nest Building Facts</a>
                    </li>
                </ul>
            </p>
            These facts are boring... Click <a href="/bald-eagle">here</a> for more fun!
        <% } else { %>
            Don't believe us?  Click <a href="?tellTheTruth">here</a> for our sources!
        <% } %>
    </p>

<% include ./partials/footer %>