<% include ./partials/header %>

    <h2>This page is under construction, please check back later</h2> 

    <p />
    <div class="centered">
        <img src="/img/under-construction.gif">
    </div>

<% include ./partials/footer %>