<% include ./partials/header %>

    <h1>This is the home page</h1> 

    <ul>
        <li><a href="/restaurants">Restaurants</a></li>
        <% if (user) { %>
            <li><a href="/users/<%= user._id %>">Friends</a></li>
            <li><a href="/lists">Lists</a></li>
        <% } %>
    </ul>

    <% include ./partials/recommendList %>

<% include ./partials/footer %>