<% include ./partials/header %>

    <h2>All the facts you need to know about your favorite birds</h2> 

    <p class="fact">
        Welcome to Avery's Aviary, your one stop for all things bird. <br>
        We work hard collecting interesting facts about your favorite birds for you to enjoy.
    </p>

    <div class="centered">
        <img src="/img/home.jpg" width="720" height="500" />
    </div>

    <p class="fact">
        Please select from the links above to learn all about these wonderful animals! <br>
        Come learn fun facts about lots of different birds we we work hard to make sure our facts are correct!
    </p>

<% include ./partials/footer %>