<% include ../partials/header %>

    <div class="centered">
        <h1>Restaurants</h1>

        <% restaurants.forEach((restaurant, idx) => { %>
            <div class="row new-item-form">
                <div class="col-9 centered">
                    <a class="btn <%= (idx % 2 ? 'btn-outline-secondary' : 'btn-outline-primary') %>" href="/restaurants/<%= restaurant._id %>">
                        <%= restaurant.name %>
                    </a>
                </div>
            </div>
        <% }); %>

        <% if (user) { %>
            <div class="row new-item-form">
                <div class="col-9 centered">
                    <a href="/restaurants/new" class="btn btn-lg btn-primary">Add Restaurant</a>
                </div>
            </div>
        <% } %>

        <% include ../partials/recommendList %>
    </div>

<% include ../partials/footer %>
