<% include ../partials/header %>

    <div class="centered">
        <h1>Restaurants</h1>

        <% if (user) { %>
            <div class="row new-item-form">
                <div class="col-9 centered">
                    <a href="/restaurants/new" class="btn btn-lg btn-primary">Add Restaurant</a>
                </div>
            </div>
        <% } %>

        <% restaurants.forEach((restaurant) => { %>
            <div class="row new-item-form">
                <div class="col-9 centered">
                    <a class="btn btn-outline-primary bg-light" href="/restaurants/<%= restaurant._id %>">
                        <%= restaurant.name %>
                    </a>
                </div>
            </div>
        <% }); %>

        <% include ../partials/recommendList %>
    </div>

<% include ../partials/footer %>
